<!-- vim: set expandtab sw=2 ts=2 : -->
<% include header %>
        <div class="outer">
          <section id="main">
            <article id="post-how-to-use-crontab" class="article article-type-post"
            itemscope itemprop="blogPost">
              <div class="article-meta">
                <a href="/2014/11/21/how-to-use-crontab/" class="article-date">
                  <time datetime="2014-11-21T14:34:21.000Z" itemprop="datePublished">
                    11月 21 2014
                  </time>
                </a>
                <div class="article-category">
                  <a class="article-category-link" href="/categories/Ubuntu/">
                    Ubuntu
                  </a>
                </div>
              </div>
              <div class="article-inner">
                <header class="article-header">
                  <h1 itemprop="name">
                    <a class="article-title" href="/2014/11/21/how-to-use-crontab/">
                      crontab - Ubuntu排程
                    </a>
                  </h1>
                </header>
                <div class="article-entry" itemprop="articleBody">
                <%- content %>
                </div>
                <footer class="article-footer">
                  <a data-url="http://jaychung.tw/2014/11/21/how-to-use-crontab/" data-id="ak9g25bow859mib6"
                  class="article-share-link">
                    Share
                  </a>
                  <a href="http://jaychung.tw/2014/11/21/how-to-use-crontab/#disqus_thread"
                  class="article-comment-link">
                    Comments
                  </a>
                  <ul class="article-tag-list">
                    <li class="article-tag-list-item">
                      <a class="article-tag-list-link" href="/tags/note/">
                        note
                      </a>
                    </li>
                    <li class="article-tag-list-item">
                      <a class="article-tag-list-link" href="/tags/system/">
                        system
                      </a>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </section>
        </div>
        <% include footer %>
