<!-- vim: set expandtab sw=2 ts=2 : -->
        <footer id="footer">
          <div class="outer">
            <div id="footer-info" class="inner">
              &copy; 2014 <%= site.domain %>
              <br>
              by
              <a href="<%= site.url %>" target="_blank">
                <%= site.domain %>
              </a>
              . Powered by
              <a href="https://github.com/zhangxiaoyang/fow" target="_blank">
                Fow
              </a>
              . Thank
              <a href="https://github.com/ken8203/hexo-theme-alberta" target="_blank">
                Alberta
              </a>
            </div>
          </div>
        </footer>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
      </script>
      <script src="https://imsky.github.io/holder/holder.js">
      </script>
      <link rel="stylesheet" href="theme/default/fancybox/jquery.fancybox.css" type="text/css">
      <script src="../../themes/<%s= site.theme %>/fancybox/jquery.fancybox.pack.js" type="text/javascript">
      </script>
      <script src="../../themes/<%= site.theme %>/js/script.js" type="text/javascript">
      </script>
    </div>
  </body>
</html>
